{% extends 'index.html' %}

{% block welcome_message %}

{% endblock %}

{% block body_block %}
    <body>
        

            <div class="profile-card">
              <div class="profile-header">
                <h1>Book Detail</h1>
              </div>
          
              <div class="profile-details">
                <p><strong>Title:</strong> {{ book.title }}</p>
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Price:</Strong>{{book.price}}</p>
                <p><strong>Published Date:</strong> {{ book.published_date }}</p>
              </div>
          
              <div class="back-btn">
                <a href="{% url 'book_list' %}">← Back to List</a>
              </div>
            </div>
            
          
    </body>
</html>
 {% endblock %}