{% extends 'index.html' %}
 {% load static %} 
 {% block welcome_message %}
<!-- You can include a custom message here if needed -->
{% endblock %}
 {% block content %}

    <div class="container col-md-6 offset-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">
                    {% if form.instance.pk %}Update{% else %}Add New{% endif %} Book
                </h2>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-grid mt-3">
                        <button type="submit" class="btn btn-success">
                            {% if form.instance.pk %}Update{% else %}Add{% endif %} Book
                        </button>
                    </div>
 {% endblock %}